// ==========================================================================
// foundation
// ==========================================================================

@import '@/app/styles/foundation/_variable';
@import '@/app/styles/foundation/_mixin';

.btn {
  display: none;
}

@include mq('sp') {
  .btn {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bars {
    position: relative;
    width: 26px;
    height: 18px;
  
    & > span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-bg-black);
      transition-delay: 0s;
      transition-duration: .3s;
      transition-property: transform, opacity;
      transition-timing-function: cubic-bezier(.19,1,.22,1);
  
      &:nth-child(1) {
        top: 0;
      }
  
      &:nth-child(2) {
        top: 8px;
      }
  
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
  
  // menu open
  :global(body.is-open) {
  
    .bars {
  
      & > span {
  
        &:nth-child(1) {
          transform: translateY(8px) rotate(-45deg);
        }
  
        &:nth-child(2) {
          opacity: 0;
        }
  
        &:nth-child(3) {
          transform: translateY(-8px) rotate(45deg);
        }
      }
    }
  }
}