// ==========================================================================
// foundation
// ==========================================================================

@import '@/app/styles/foundation/_variable';
@import '@/app/styles/foundation/_mixin';


.l-wrapper {

  &__outer {
    width: calc(100% - 40px);
    margin-inline: auto;
  }

  &__inner {
    max-width: var(--content-base);
    margin-inline: auto;
  }

  &__over {
    width: 100vw;
		margin: 0 calc(50% - 50vw);
  }
}

@include mq('sp') {
  .l-wrapper {

    &__outer {
      width: calc(100% - 40px);
    }
  }
}