// ==========================================================================
// foundation
// ==========================================================================

@import '@/app/styles/foundation/_variable';
@import '@/app/styles/foundation/_mixin';

.container {}

.contents {}

.head {}

.body {
  margin-top: 60px;
}

.heading {
  font-size: 22px;
}

.sub {
  margin-top: 60px;
  font-size: 22px;

  & + .summary {
    margin-top: 20px;
  }
}

.img {

  & + .free {
    margin-top: 40px;
  }

  figure {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.162%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.free {
  padding-bottom: 40px;
  border-bottom: solid 1px var(--color-line-base);

  p:not([class]) {

    & + p:not([class]) {
      margin-top: 1em;
    }
  }
}

.summary {
  margin-top: 40px;

  dl {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    dt {
      width: 100px;
    }

    dd {
      width: calc(100% - 116px);
    }
  }
}

@include mq('sp') {
  .summary {
    dl {
      gap: 8px;
  
      dd {
        width: calc(100% - 88px);
      }
    }
  }
}